/* Create breakpoint utility classes for showing and hiding elements */
@mixin display-setup($namespace: "") {
	.#{$namespace}u-inline {
	    display: inline !important;
	}

	.#{$namespace}u-inlineBlock {
	    display: inline-block !important;
	}

	.#{$namespace}u-block {
	    display: block !important;
	}

	.#{$namespace}u-flex {
	    display: -webkit-flex !important;
	    display: flex !important;
	}

	.#{$namespace}u-table {
	    display: table !important;
	    width: 100%;
	}

	.#{$namespace}u-tableFixed {
	    display: table !important;
	    table-layout: fixed !important;
	}

	.#{$namespace}u-tableInline {
	    display: inline-table !important;
	}

	.#{$namespace}u-tableRow {
	    display: table-row !important;
	}

	.#{$namespace}u-tableCell {
	    display: table-cell !important;
	}

	.#{$namespace}u-tableCellCollapse {
	    display: table-cell !important;
	    width: rem(1);
	}

	.#{$namespace}u-hide {
		display: none !important;
	}

	.#{$namespace}u-visuallyHidden {
		position: absolute !important;
	    left: -10000px !important;
	    top: auto !important;
	    width: 1px !important;
	    height: 1px !important;
	    overflow: hidden !important;
	}

	.#{$namespace}u-visible {
		visibility: visible !important;
	}

	.#{$namespace}u-hidden {
		visibility: hidden !important;
	}

  	// TODO: Figure out a better way of handling such thing
  	.#{$namespace}u-showOnlyFirstChild {
	  > div {
		display: none;
		&:first-child {
		  display: block;
		}
	  }
	}
}

@include display-setup();

@media only screen and (min-width:$breakpoint1) {
    @include display-setup("b1-");
}

@media only screen and (min-width:$breakpoint2) {
    @include display-setup("b2-");
}

@media only screen and (min-width:$breakpoint3) {
    @include display-setup("b3-");
}

@media only screen and (min-width:$breakpoint4) {
    @include display-setup("b4-");
}

@media only screen and (min-width:$breakpoint5) {
    @include display-setup("b5-");
}

// max

 @media only screen and (max-width:$breakpoint1) {
     @include display-setup("b1Max-");
 }

 @media only screen and (max-width:$breakpoint2) {
     @include display-setup("b2Max-");
 }

 @media only screen and (max-width:$breakpoint3) {
     @include display-setup("b3Max-");
 }

 @media only screen and (max-width:$breakpoint4) {
     @include display-setup("b4Max-");
 }

 @media only screen and (max-width:$breakpoint5) {
     @include display-setup("b5Max-");
 }