// Crayon Reset
// 
// The <strong>_reset.scss</strong> file is a thin layer on top of <strong>_normalize.scss</strong> that provides a starting point more suitable for web applications. Removes the default spacing and border for appropriate elements.
// 
// Styleguide 1.5.2

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
    margin: 0 0 rem($half-spacing-unit);
}

menu,
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

iframe {
    border: 0;
}

/**
 * Suppress the focus outline on links that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 */

[tabindex="-1"]:focus {
  outline: none !important;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

svg {
	display: block;
}

img {
    max-width: 100%;
}

figure {
  margin: 0;
}